<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <GoogleTestAdapterSettings>
    <SolutionSettings>
      <Settings>
        <WorkingDir>$(SolutionDir)</WorkingDir>
      </Settings>
    </SolutionSettings>
    <ProjectSettings>
      <Settings ProjectRegex=".*Tests.exe">
        <TestDiscoveryRegex>.*Tests.exe</TestDiscoveryRegex>
      </Settings>
    </ProjectSettings>
  </GoogleTestAdapterSettings>
</RunSettings>